[submodule "chameleon"]
	path = chameleon
	url = https://github.com/cmln/chameleon
[submodule "DarkVector"]
	path = DarkVector
	url = https://github.com/dolfinus/DarkVector.git
[submodule "FemiwikiSkin"]
	path = FemiwikiSkin
	url = https://github.com/femiwiki/FemiwikiSkin
[submodule "foreground"]
	path = foreground
	url = https://github.com/thingles/foreground
[submodule "Liberty-MW-Skin"]
	path = Liberty-MW-Skin
	url = https://gitlab.com/librewiki/Liberty-MW-Skin.git/
[submodule "ModernSkylight"]
	path = ModernSkylight
	url = https://github.com/wiki-chan/ModernSkylight
[submodule "Tweeki"]
	path = Tweeki
	url = https://github.com/thaider/Tweeki
