[submodule "2018"]
	path = 2018
	url = https://github.com/morags/mediawiki-2018-skin.git
[submodule "Aether"]
	path = Aether
	url = https://invent.kde.org/websites/aether-mediawiki.git
[submodule "AtlasMuseum"]
	path = AtlasMuseum
	url = https://github.com/jdlrobson/mediawiki-skins-Atlasmuseum.git
[submodule "BlueLL"]
	path = BlueLL
	url = https://github.com/lingua-libre/BlueLL.git
[submodule "Citizen"]
	path = Citizen
	url = https://github.com/StarCitizenTools/mediawiki-skins-Citizen.git
[submodule "DarkVector"]
	path = DarkVector
	url = https://github.com/dolfinus/DarkVector.git
[submodule "FemiwikiSkin"]
	path = FemiwikiSkin
	url = https://github.com/femiwiki/FemiwikiSkin
[submodule "Lakeus"]
	path = Lakeus
	url = https://github.com/lakejason0/mediawiki-skins-Lakeus
[submodule "Liberty-MW-Skin"]
	path = Liberty
	url = https://gitlab.com/librewiki/Liberty-MW-Skin.git/
[submodule "Marginless"]
	path = Marginless
	url = https://github.com/tealyt/Marginless-MediaWiki.git
[submodule "MediaWikiBootstrap"]
	path = MediaWikiBootstrap
	url = https://github.com/nasirkhan/mediawiki-bootstrap.git
[submodule "Medik"]
	path = Medik
	url = https://bitbucket.org/wikiskripta/medik.git
[submodule "ModernSkylight"]
	path = ModernSkylight
	url = https://github.com/wiki-chan/ModernSkylight
[submodule "Onyx"]
	path = Onyx
	url = https://github.com/Halopedia/Onyx.git
[submodule "Overclocked"]
	path = Overclocked
	url = https://github.com/PCGamingWiki/overclocked.git
[submodule "ScratchWikiSkin2"]
	path = ScratchWikiSkin2
	url = https://github.com/InternationalScratchWiki/ScratchWikiSkin2.git
[submodule "SimpleText"]
	path = SimpleText
	url = https://github.com/samwilson/mediawiki-simpletext.git
[submodule "Tweeki"]
	path = Tweeki
	url = https://github.com/thaider/Tweeki
[submodule "VectorBlue"]
	path = VectorBlue
	url = https://github.com/Sturmkrieg/mw-VectorBlue
[submodule "chameleon"]
	path = Chameleon
	url = https://github.com/cmln/chameleon
[submodule "eveskin"]
	path = eveskin
	url = https://github.com/wikimedia/eveskin.git
[submodule "monaco-port"]
	path = Monaco
	url = https://github.com/Universal-Omega/Monaco.git
[submodule "snapwikiskin"]
	path = snapwikiskin
	url = https://github.com/snapwiki/snapwikiskin
